.back--img {
  background: url('../../../../assets/images/alfonso-scarpa-NwCDLhCk2ig-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}