/* You can add global styles to this file, and also import other style files */

@import './assets/scss/bootstrap.min.css';

@font-face {
  font-family: 'rockstart';
  src: url('./assets/fonts/Rockstar-ExtraBold.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'mono';
  src: url('./assets/fonts/BasierSquareMono-Regular.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.border {
  border: 3px solid red !important;
}

.gradient-background {
  background: linear-gradient(239deg, #F2EADF,#fad56d);
  background-size: 180% 180%;
  animation: gradient-animation 89s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1{
  font-size: 60px;
}

.container-main{
  height: calc(100vh - 100px);
  padding-top: 100px;
  .container-title{
    padding: 30px;
    font-family: 'rockstart';
  }
  &.back-color{
    background-color: rgba($color: #D9A273, $alpha: 0.4);
  }
}

.text-rockstart{
  font-family: 'rockstart';
}


.text-mono{
  font-family: 'mono';
}

.btn--ies{
  font-family: 'rockstart';
  font-size: 20px;
  min-width: 450px;
  margin: 0 auto !important;
  display: block;
}